<div class="container-fluid">

    <form id='CTOAdfgvxForm1' name='CTOAdfgvxForm1' class="form-horizontal">

        {{!-- Clear Text --}}
        <div class="row"> <h2>{{plaintext}}:</h2> </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                        <textarea name="orgtxt" id="orgtxt" class="form-control" rows="3"
                                  onkeyup="CTOAdfgvxScripts.adfgvxCrypt('encode');">{{default_text}}
                        </textarea>
               </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input name='code' id='code' type='radio' value='encode' checked='checked'
                                   onclick='CTOAdfgvxScripts.adfgvxCrypt(false)'/>{{encrypt}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type='radio' name='code' id='code' value='decode'
                                   onclick='CTOAdfgvxScripts.adfgvxCrypt(false)'/>{{decrypt}}
                        </label>
                    </div>
                </div>
            </div>
        </div>


        {{!-- substitution matrix --}}
        <div class="row substitution-matrix-wrapper">

                <div class="col-md-8">
                    <h3>{{substitution_matrix}}</h3>
                    {{!-- {{Watch out: due to we want to use html we have to specify {{{ ... }}} }} --}}
                    <div id='matrix' class='ctoformcss-adfgvx-matrix'>{{{adf_template}}}</div>
                </div>

                <div class="col-md-12">
                    <input type='button' class='ctoformcss-default-button-l' name='key1'
                           value='{{random_matrix}}'
                           onclick='CTOAdfgvxScripts.genRandomKeysquare();'>
                    <input type='button' class='ctoformcss-default-button-l' name='key2'
                                 value='{{standard_matrix}}'
                                 onclick='CTOAdfgvxScripts.genStandardKeysquare();'>
                </div>

                <div class="col-md-8">
                    <h3>{{specify_matrix}}</h3>
                    <input name='mymatrix' type='text'
                           class='ctoformcss-txtinput-style ctoformcss-adfgvx-matrix-input-size'
                           id='mymatrix' value='' maxlength='36'
                           onkeyup='CTOAdfgvxScripts.genMyKeysquare();'/>
                </div>
        </div>

        {{!-- substitution matrix toggler --}}
        <div class="row">
            {{substitution_options}} <a class="btn btn-default toggler off" role="button"
                                        onclick="jQuery('.substitution-matrix-wrapper').toggle();" >&nbsp;</a>
        </div>

        {{!-- substitution --}}
        <div class="row">
            <h2>{{substitution}}:</h2>
            <textarea name='substitutiontxt' id='substitutiontxt'
                      wrap='hard' readonly='true'>
            </textarea>
            <input type='checkbox' name='cleansubstitution' id='cleansubstitution'
                   onclick='CTOAdfgvxScripts.adfgvxCrypt(false)' checked='true'/>
            {{cleanspace}}
        </div>

        {{!-- ciphertext --}}
        <div class="row">
            <h2>{{ciphertext}}:</h2>
            <textarea name='codtxt' id='codtxt'
                      onkeyup='CTOAdfgvxScripts.adfgvxCrypt("decode");' >
            </textarea>
            <input type='checkbox' name='clean' id='clean'
                                           onclick='CTOAdfgvxScripts.adfgvxCrypt(false)'
                                           checked='true'/>
            {{cleanspace}}
        </div>


        {{!-- key --}}
        <div class="row">
            <h2>{{key}}:</h2>
            <input name='key' type='text' class='ctoformcss-txtinput-style ctoformcss-keylength-full' id='key'
                           value='CODE'
                           onkeyup='CTOAdfgvxScripts.checkKey();'/>
        </div>


        {{!-- columns --}}
        <div class="row">
          <p>{{columns}}</p>
          <textarea name='columns' id='columns' class='ctoformcss-txtoutput-style ctoformcss-default-small' readonly='true'
                    wrap='physical'></textarea>
        </div>



        {{!-- keyalphabet --}}
        <div class="row keyalphabet-wrapper">
            <input name='uppercase' type='checkbox' id='uppercase' checked='checked'
                   onclick='CTOAdfgvxScripts.setAlphabet(1);'/>
            {{alpha_uppercase}}<br>
            <input name='blanks' type='checkbox' id='blanks'
                   onclick='CTOAdfgvxScripts.setAlphabet(2);'/>
            {{alpha_blanks}}<br>
            <input name='digits' type='checkbox' id='digits'
                   onclick='CTOAdfgvxScripts.setAlphabet(3);'/>
            {{alpha_digits}}<br>
            <input name='punctuationmarks' type='checkbox' id='punctuationmarks'
                   onclick='CTOAdfgvxScripts.setAlphabet(4);'/>
            {{alpha_puctuationmarks}}<br>
            <input name='lowercase' type='checkbox' id='lowercase'
                   onclick='CTOAdfgvxScripts.setAlphabet(5);'/>
            {{alpha_lowercase}}<br>
            <input name='umlauts' type='checkbox' id='umlauts'
                   onclick='CTOAdfgvxScripts.setAlphabet(6);'/>
            {{alpha_umlauts}}<br>
            <div id='plaintextabc' class='ctoformcss-default-alphabet-output-style'></div>
        </div>

        {{!-- keyalphabet toggler --}}
        <div class="row">
            {{alphabet}} <a class="btn btn-default toggler off" role="button"
               onclick="jQuery('.keyalphabet-wrapper').toggle();" >&nbsp;</a>
            <span id='alphalength'></span>
            <!--input name='alphalength' type='text' class='ctoformcss-default-alphabet-length-output-style'
                   id='alphalength' size='1' maxlength='2' readonly='true'/-->
            {{sings}}
        </div>


        {{!-- NOTE: did not know what this is, maybe to force run on mobile devices
              CTOAdfgvxScripts.adfgvxCrypt will be also called at pageload, FS
         --}}
        <!--div class='mobilrun' id='mobilrun'>
            <input type='button' class='ctoformcss-default-button-m' name='run' id='run' value='{{run}}'
                   k='CTOAdfgvxScripts.adfgvxCrypt(false);'>
        </div -->

    </form>
</div>